* {
    margin: 0;
}
body {
    background-color: #272b30;
	font-family: sans-serif;
	color: white;
	--dice-scale: 3;
}
main-container {
	padding: calc(var(--dice-scale) * 12px);
	display: block;
	padding-bottom: calc(var(--dice-scale) * 68px);
}


die[data-name="empty"]:before {
	display: block;
	/* background-position: 0 calc(var(--dice-scale) * -33px); */
	background-position: 0 0;
	background-color: rgba(0, 0, 0, 0.35);
}
die:before {
	content: "";
	background-image: url(SpriteSheet.png);
	background-repeat: no-repeat;
	image-rendering: crisp-edges; 
	image-rendering: pixelated;
	background-origin: content-box;
	background-clip: content-box;
	background-size: calc(var(--dice-scale) * 210px) calc(var(--dice-scale) * 132px);
	background-position:  calc(var(--dice-scale) * (var(--variation-x) + 1) * -30px) calc(var(--dice-scale) * var(--variation-y) * -33px);
	background-color: inherit;
	width: calc(var(--dice-scale) * 30px);
	height: calc(var(--dice-scale) * 33px);
	margin: calc(var(--dice-scale) * 6px);
	margin-top: calc(var(--dice-scale) * 3px);
}
die {
	position: relative;
	width: calc(var(--dice-scale) * 42px);
	height: calc(var(--dice-scale) * 42px);
	font-size: calc(var(--dice-scale) * 6px);
}
die:before {
	display: block;
	background-blend-mode: multiply;
    -webkit-mask-image: url(SpriteSheet.png);
    mask-image: url(SpriteSheet.png);
    -webkit-mask-size: calc(var(--dice-scale) * 210px) calc(var(--dice-scale) * 132px);
	mask-size: calc(var(--dice-scale) * 210px) calc(var(--dice-scale) * 132px);
    -webkit-mask-origin: content-box;
    mask-origin: content-box;
	cursor: pointer;
}
die:after {
	content: attr(data-text);
	color: black;
	font-weight: initial;
	letter-spacing: initial;
	position: absolute;
	width: calc(var(--dice-scale) * 42px);
	text-align: center;
	bottom: 0;
	font-size: 1em;
	line-height: 1em;
}

dice-bar, die-slot, die-selector, order-list {
	border: solid calc(var(--dice-scale) * 2px) #3a3f44;
	border-radius: calc(var(--dice-scale) * 4px);
}

dice-bar-container {
	position: fixed;
    display: block;
    max-width: calc(var(--dice-scale) * 224px);
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, transparent 0, #272b30 calc(var(--dice-scale) * 16px));
    padding-top: calc(var(--dice-scale) * 8px);
    padding-right: 100vw;
}
dice-bar {
	display: block;
	width: calc(var(--dice-scale) * 218px);
	height: calc(var(--dice-scale) * 52px);
	margin: calc(var(--dice-scale) * 8px) auto;
}
die-slot {
	display: block;
	float: left;
	margin: calc(var(--dice-scale) * 3px);
	width: calc(var(--dice-scale) * 42px);
	height: calc(var(--dice-scale) * 42px);
	background-color: #c8c8c8;
	position: relative;
}
die-slot.selected {
	z-index: 101;
}
die-selector {
	display: block;
	width: calc(var(--dice-scale) * 168px);
	background-color: #c8c8c8;
	position: absolute;
}
die-selector-column {
	display: inline-block;
	position: relative;
	z-index: 4;
}
die-selector-column die:not(:first-child):before {
	margin-top: calc(var(--dice-scale) * 9px);
}
die-selector-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #0004;
	left: 0;
	top: 0;
	z-index: 100;
	cursor: pointer;
}
die-slot die-selector {
	margin-bottom: calc(var(--dice-scale) * 9px);
	margin-left: calc(var(--dice-scale) * -2px);
	line-height: 0;
	bottom: calc(var(--dice-scale) * 37px - 1px);
}
die-slot:nth-child(2) die-selector {
	left: calc(var(--dice-scale) * -52px);
}
die-slot:nth-child(3) die-selector {
	right: calc(var(--dice-scale) * -54px);
}
die-slot:nth-child(4) die-selector {
	right: calc(var(--dice-scale) * -2px);
}
die-slot.selected > die {
	z-index: 1;
}
die-slot.selected > die-selector-container:before {
    content: "";
    display: block;
    position: absolute;
    height: calc(var(--dice-scale) * 6px + 1px);
    width: calc(var(--dice-scale) * 34px - 2px);
    top: calc(var(--dice-scale) * -9px);
    left: calc(var(--dice-scale) * -2px + 1px);
    z-index: 1;
    border-left: solid calc(var(--dice-scale) * 6px) #c8c8c8;
    border-right: solid calc(var(--dice-scale) * 6px) #c8c8c8;
    border-bottom: solid calc(var(--dice-scale) * 6px) transparent;
    border-top: solid calc(var(--dice-scale) * 3px) #c8c8c8;
    background-color: #c8c8c8;
    background-clip: padding-box;
}
die-slot.selected > die-selector-container:after {
    content: "";
    display: block;
    position: absolute;
    width: auto;
    border: solid calc(var(--dice-scale) * 6px) transparent;
    border-top: solid calc(var(--dice-scale) * 7px) #c8c8c8;
    z-index: 1;
    top: calc(var(--dice-scale) * -6px);
    left: calc(var(--dice-scale) * -5px);
    right: calc(var(--dice-scale) * -5px);
}
die-slot:first-of-type.selected > die-selector-container:after {
	left: 0;
}
die-slot:last-of-type.selected > die-selector-container:after {
	right: 0;
}
die-slot.selected:before,
die-slot.selected:after {
    content: "";
    display: block;
    position: absolute;
    height: calc(var(--dice-scale) * 12px);
    top: calc(var(--dice-scale) * -6px + 1px);
    z-index: 4;
}
die-slot:first-of-type.selected:before,
die-slot:last-of-type.selected:after {
	width: calc(var(--dice-scale) * 2px);
	top: calc(var(--dice-scale) * -12px - 1px);
	height: calc(var(--dice-scale) * 19px);
	background-color: #3a3f44;
}
die-slot:first-of-type.selected:before {
	left: calc(var(--dice-scale) * -2px);
}
die-slot:last-of-type.selected:after {
	right: calc(var(--dice-scale) * -2px);
}
die-slot:not(:first-of-type).selected:before {
    width: calc(var(--dice-scale) * 4px);
    left: calc(var(--dice-scale) * -6px);
    border-top-right-radius: calc(var(--dice-scale) * 4px);
    border-right: solid calc(var(--dice-scale) * 2px) #3a3f44;
    border-top: solid calc(var(--dice-scale) * 2px) #3a3f44;
}
die-slot:not(:last-of-type).selected:after {
    width: calc(var(--dice-scale) * 4px);
    right: calc(var(--dice-scale) * -6px);
    border-top-left-radius: calc(var(--dice-scale) * 4px);
    border-left: solid calc(var(--dice-scale) * 2px) #3a3f44;
    border-top: solid calc(var(--dice-scale) * 2px) #3a3f44;
}

h1 {
	margin: .8em 0;
	font-size: 2.4em;
}
h2 {
	margin: 1.2em 0 .6em 0;
}
p {
	margin: .6em 0;
}

a {
	color:white;
}
result-list {
	margin: 2em 0;
	display: block;
	--main-dice-scale: var(--dice-scale);
}
result-list table {
	margin-top: .2em;
	background-color: deepskyblue;
	color: black;
	--dice-scale: calc(1/3 * var(--main-dice-scale));
}
result-list table tr:nth-child(even) {
	background-color: skyblue;
}
result-list table th,
result-list table td {
	padding: .3em .5em;
}

result-list table.single-result th:first-child,
result-list table.single-result td:first-child {
	display: none
}


order-list {
	background-color: #c8c8c8;
	display: flex;
	width: fit-content;
	font-weight: bolder;
	color: black;
	line-height: calc(var(--dice-scale) * 49px);
	text-align: center;
	height: calc(var(--dice-scale) * 48px);
	position: relative;
	font-size: calc(var(--dice-scale) * 12px);
	max-width: 100%;
}
order-list > span {
	padding: 0 0.15em;
}
small-die-container {
	display: inline-block;
}
result-list die:before {
	cursor: default;
	margin-bottom: calc(var(--dice-scale) * 3px);
}
result-list die:after {
	content: initial;
}
#show-hidden-results {
	display: none;
}
dice-bar-evolved {
    display: block;
    float: right;
    margin: calc(var(--dice-scale) * 3px);
    height: calc(var(--dice-scale) * 46px);
    margin-left: 0;
    width: calc(var(--dice-scale) * 7px);
    position: relative;
}
dice-bar-evolved:before {
    content: "evolved";
    width: calc(var(--dice-scale) * 7px);
    display: block;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    line-height: calc(var(--dice-scale) * 7px);
    text-align: right;
    color: #c8c8c8;
    letter-spacing: .05em;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: calc(var(--dice-scale) * 9px);
}
dice-bar-evolved:after {
    content: "";
    height: calc(var(--dice-scale) * 5px);
    width: calc(var(--dice-scale) * 5px);
    border: solid calc(var(--dice-scale) * 1px) #3a3f44;
    border-radius: calc(var(--dice-scale) * 2px);
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
dice-bar-evolved.selected:after {
    background-color: green;
}