* {
    margin: 0;
}


die:before {
	content: "";
	background-image: url(SpriteSheet.png);
	background-repeat: no-repeat;
	image-rendering: pixelated;
	background-origin: content-box;
	background-clip: content-box;
	background-size: 6144px 6144px;
	background-color: inherit;
	background-position: inherit;
	width: 90px;
	height: 99px;
	margin: 10px 19px 19px 19px;
}
die {
	position: relative;
	width: 128px;
	height: 128px;
	font-size: 1em;
}
die:before {
	display: block;
	background-blend-mode: multiply;
    -webkit-mask-image: url(SpriteSheet.png);
    mask-image: url(SpriteSheet.png);
    -webkit-mask-size: 6144px 6144px;
	mask-size: 6144px 6144px;
    -webkit-mask-origin: content-box;
    mask-origin: content-box;
	cursor: pointer;
}
die:after {
	content: attr(data-text);
	position: absolute;
	width: 128px;
	text-align: center;
	bottom: 1px;
	font-size: 1em;
	line-height: 1em;
}
die[data-name="empty"]:before {
	filter: brightness(0%);
	display: block;
	opacity: 0.35;
}

#dice-bar {
	position: absolute;
	bottom: 0;
	margin: 24px;
}

dice-bar, die-slot, die-selector {
	border: solid 6px grey;
	border-radius: 12px;
}

dice-bar {
	display: block;
	width: 624px;
}
die-slot {
	display: block;
	float: left;
	margin: 8px;
	width: 128px;
	height: 128px;
	background-color: white;
	position: relative;
}
die-selector {
	display: block;
	width: 512px;
	position: absolute;
	background-color: white;
	bottom: 100%;
}
die-selector-column {
	display: inline-block;
	position: relative;
}
die-selector-column die:not(:first-child):before {
	margin-top: 29px;
}
die-selector-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #0004;
	left: 0;
	top: 0;
	z-index: 100;
	cursor: pointer;
}
die-slot die-selector {
	margin-bottom: 10px;
	margin-left: -6px;
	line-height: 0;
}
die-slot die-selector:before {
	content: "";
	position: absolute;
	width: 140px;
	height: 30px;
	background: linear-gradient(180deg, white 13px, transparent 13px), linear-gradient(270deg, transparent 7px, white 7px);
	bottom: -22px;
	left: -6px;
	border-left: solid 6px grey;
}
die-slot die-selector:after {
	content: "";
	position: absolute;
	width: 7px;
	height: 17px;
	bottom: -23px;
	left: 128px;
	border-left: solid 6px grey;
	border-top: solid 6px grey;
	border-top-left-radius: 12px;
}