* {
    margin: 0;
}
body {
    background-color: #272b30;
	font-family: sans-serif;
	color: white;
	--dice-scale: 2;
}
main-container {
	padding: 1.6em;
	display: block;
	padding-bottom: calc(var(--dice-scale) * 68px);
}


die:before {
	content: "";
	background-image: url(SpriteSheet.png);
	background-repeat: no-repeat;
	image-rendering: pixelated;
	background-origin: content-box;
	background-clip: content-box;
	background-size: calc(var(--dice-scale) * 180px) calc(var(--dice-scale) * 132px);
	background-color: inherit;
	background-position:  calc(var(--dice-scale) * var(--variation-x)) calc(var(--dice-scale) * var(--variation-y));
	width: calc(var(--dice-scale) * 30px);
	height: calc(var(--dice-scale) * 33px);
	margin: calc(var(--dice-scale) * 6px);
	margin-top: calc(var(--dice-scale) * 3px);
}
die {
	position: relative;
	width: calc(var(--dice-scale) * 42px);
	height: calc(var(--dice-scale) * 42px);
	font-size: calc(var(--dice-scale) * 6px);
}
die:before {
	display: block;
	background-blend-mode: multiply;
    -webkit-mask-image: url(SpriteSheet.png);
    mask-image: url(SpriteSheet.png);
    -webkit-mask-size: calc(var(--dice-scale) * 180px) calc(var(--dice-scale) * 132px);
	mask-size: calc(var(--dice-scale) * 180px) calc(var(--dice-scale) * 132px);
    -webkit-mask-origin: content-box;
    mask-origin: content-box;
	cursor: pointer;
}
die:after {
	content: attr(data-text);
	color: black;
	position: absolute;
	width: calc(var(--dice-scale) * 42px);
	text-align: center;
	bottom: 0;
	font-size: 1em;
	line-height: 1em;
}
die[data-name="empty"]:before {
	filter: brightness(0%);
	display: block;
	opacity: 0.35;
}

#dice-bar {
	bottom: 0;
	left: 0;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

dice-bar, die-slot, die-selector {
	border: solid calc(var(--dice-scale) * 2px) #3a3f44;
	border-radius: calc(var(--dice-scale) * 4px);
}

dice-bar-container {
	position: fixed;
	display: block;
	max-width: calc(var(--dice-scale) * 224px);
	width: 100%;
	bottom: 0;
	background-color: #272b30;
}
dice-bar {
	display: block;
	width: calc(var(--dice-scale) * 208px);
	height: calc(var(--dice-scale) * 52px);
	margin: calc(var(--dice-scale) * 8px);
}
die-slot {
	display: block;
	float: left;
	margin: calc(var(--dice-scale) * 3px);
	width: calc(var(--dice-scale) * 42px);
	height: calc(var(--dice-scale) * 42px);
	background-color: #c8c8c8;
	position: relative;
}
die-selector {
	display: block;
	width: calc(var(--dice-scale) * 168px);
	position: absolute;
	background-color: #c8c8c8;
	bottom: calc(var(--dice-scale) * 37px - 1px);
}
die-selector-column {
	display: inline-block;
	position: relative;
}
die-selector-column die:not(:first-child):before {
	margin-top: calc(var(--dice-scale) * 9px);
}
die-selector-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #0004;
	left: 0;
	top: 0;
	z-index: 100;
	cursor: pointer;
}
die-slot die-selector {
	margin-bottom: calc(var(--dice-scale) * 9px);
	margin-left: calc(var(--dice-scale) * -2px);
	line-height: 0;
}
die-slot die-selector:before {
	content: "";
	position: absolute;
	width: calc(var(--dice-scale) * 46px + 1px);
	height: calc(var(--dice-scale) * 10px);
	background: linear-gradient(180deg, #c8c8c8 calc(var(--dice-scale) * 4px), transparent calc(var(--dice-scale) * 4px)), linear-gradient(270deg, transparent calc(var(--dice-scale) * 2px + 2px), #c8c8c8 calc(var(--dice-scale) * 2px + 2px));
	bottom: calc(var(--dice-scale) * -8px + 1px);
	left: calc(var(--dice-scale) * -2px);
	border-left: solid calc(var(--dice-scale) * 2px) #3a3f44;
}
die-slot die-selector:after {
	content: "";
	position: absolute;
	width: calc(var(--dice-scale) * 2px + 2px);
	height: calc(var(--dice-scale) * 6px);
	bottom: calc(var(--dice-scale) * -8px);
	left: calc(var(--dice-scale) * 42px);
	border-left: solid calc(var(--dice-scale) * 2px) #3a3f44;
	border-top: solid calc(var(--dice-scale) * 2px) #3a3f44;
	border-top-left-radius: calc(var(--dice-scale) * 4px);
}

h1 {
	margin: .8em 0;
	font-size: 2.4em;
}
h2 {
	margin: 1.2em 0 .6em 0;
}
p {
	margin: .6em 0;
}

a {
	color:white;
}
result-list {
	margin: 2em 0;
	display: block;
}
result-list table {
	margin-top: .2em;
	background-color: deepskyblue;
	color: black;
}
result-list table tr:nth-child(even) {
	background-color: skyblue;
}
result-list table th,
result-list table td {
	padding: .3em .5em;
}

result-list table.single-result th:first-child,
result-list table.single-result td:first-child {
	display: none
}